Repository WarioNeila86/courses-fullstack-application: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.md": "prettier --write"
}

apply prettier styles to jsx files
  client/src/components/AddCourse.jsx
  client/src/components/Course.jsx
  client/src/components/CourseDetails.jsx
  client/src/components/CourseList.jsx
  client/src/components/DeleteCourse.jsx
  client/src/components/EditCourse.jsx
Due: eslint --fix, prettier --write

apply Material UI to AddCourse component
  client/src/components/AddCourse.css
  client/src/components/AddCourse.jsx
  client/src/components/CourseList.jsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

apply Material UI to Course and CourseList components
  client/src/components/Course.css
  client/src/components/Course.jsx
  client/src/components/CourseList.css
  client/src/components/CourseList.jsx
Due: eslint --fix, prettier --write

add formatting to CourseDetails view
  client/src/components/CourseDetails.jsx
Due: eslint --fix, prettier --write

update README, fix some vulnerabilities, add sequelize config file
  .sequelizerc
  README.md
  package-lock.json
  package.json
Due: prettier --write

update vite, add concurrently to start server and client apps together
  package-lock.json
  package.json
Due: none

update outdated dependencies - 0 vulnerabilities
  .husky/pre-commit
  .lintstagedrc
  client/.eslintrc.cjs
  client/eslint.config.js
  package-lock.json
  package.json
  server/.eslintrc.js
  server/db/models/index.js
  server/eslint.config.js
  server/routes/course-routes.test.js
Due: eslint --fix, prettier --write
